name: EPG Update

on:
  schedule:
    - cron: '0 */24 * * *' # Daily schedule
  workflow_dispatch:

jobs:
  run_script:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
           node-version: 18

    - name: npm grab epg
      run: |
          npm install
          npm run grab -- --site=player.ee.co.uk --days=7 --maxConnections=10 --gzip --output=guides/player.ee.co.uk.xml
          npm run grab -- --site=sky.com --days=7 --maxConnections=10 --gzip --output=guides/sky.com.xml
          npm run grab -- --site=tvguide.com --gzip --output=guides/tvguide.com.xml
          npm run grab -- --site=tvpassport.com --days=7 --maxConnections=50 --gzip --output=guides/tvpassport.com.xml
          
    - name: Commit changes
      run: |
        git config --local user.email "your-email@example.com"
        git config --local user.name "Your Name"
        git add -f guides/player.ee.co.uk.xml.gz
        git add -f guides/sky.com.xml.gz
        git add -f guides/tvguide.com.xml.gz
        git add -f guides/tvpassport.com.xml.gz
        git commit -m "Update xml"
        git push
