name: EPG Update

on:
  schedule:
    - cron: '0 */24 * * *' # Daily schedule
  workflow_dispatch:

jobs:
  run_script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
           node-version: 18

    - name: npm grab epg
      run: |
          npm install
          npm run grab -- --site=dishtv.in --lang=en --maxConnections=10 --gzip --output=guides/dishtv.in_en.xml
          npm run grab -- --site=dishtv.in --lang=hi --maxConnections=10 --gzip --output=guides/dishtv.in_hi.xml
          npm run grab -- --site=watch.tataplay.com --maxConnections=10 --gzip --output=guides/watch.tataplay.com.xml
          npm run grab -- --site=distro.tv --maxConnections=10 --gzip --output=guides/distro.tv.xml
          npm run grab -- --site=nowplayer.now.com --lang=en --gzip --output=guides/nowplayer.now.com.xml
          npm run grab -- --site=foxtel.com.au --gzip --output=guides/foxtel.com.au.xml
          npm run grab -- --site=starhubtvplus.com --gzip --output=guides/starhubtvplus.com.xml
          npm run grab -- --site=sky.com --maxConnections=10 --gzip --output=guides/sky.com.xml
          npm run grab -- --channels=sites/beinsports.com/beinsports.com_au-en.channels.xml --gzip --output=guides/beinsports.com_au-en.xml
    
    - name: Commit changes
      run: |
        git config --local user.email "your-email@example.com"
        git config --local user.name "Your Name"
        git add -f guides/dishtv.in_en.xml.gz
        git add -f guides/dishtv.in_hi.xml.gz
        git add -f guides/watch.tataplay.com.xml.gz
        git add -f guides/distro.tv.xml.gz
        git add -f guides/nowplayer.now.com.xml.gz
        git add -f guides/foxtel.com.au.xml.gz
        git add -f guides/beinsports.com_au-en.xml.gz
        git add -f guides/starhubtvplus.com.xml.gz
        git add -f guides/sky.com.xml.gz
        git commit -m "Update xml"
        git push
